.env.local
*.lock
encrypt-key
.idea/
config/gcloud-auth.json
vendor/
www/feed
www/product-images/*
tests/output
composer-frontline.php
tests/*/output

.env.local
.env.*.local
.phpunit.result.cache

docker-compose.override.yml

.database.cache
